<%= form_for(@user_catalog) do |f| %>
  <% if @user_catalog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_catalog.errors.count, "error") %> prohibited this user_catalog from being saved:</h2>

      <ul>
      <% @user_catalog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :favoritebook %><br>
    <%= f.text_field :favoritebook %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
