<p id="notice"><%= notice %></p>

<h1>Listing User Catalogs</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Age</th>
      <th>Favoritebook</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_catalogs.each do |user_catalog| %>
      <tr>
        <td><%= user_catalog.username %></td>
        <td><%= user_catalog.firstname %></td>
        <td><%= user_catalog.lastname %></td>
        <td><%= user_catalog.email %></td>
        <td><%= user_catalog.age %></td>
        <td><%= user_catalog.favoritebook %></td>
        <td><%= link_to 'Show', user_catalog %></td>
        <td><%= link_to 'Edit', edit_user_catalog_path(user_catalog) %></td>
        <td><%= link_to 'Destroy', user_catalog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User catalog', new_user_catalog_path %>
