<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user_catalog.username %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user_catalog.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user_catalog.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_catalog.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_catalog.age %>
</p>

<p>
  <strong>Favoritebook:</strong>
  <%= @user_catalog.favoritebook %>
</p>

<%= link_to 'Edit', edit_user_catalog_path(@user_catalog) %> |
<%= link_to 'Back', user_catalogs_path %>
